<div class="border border-light p-5" *ngIf="queryUser">
  <ng-snotify></ng-snotify>
  <div *ngIf="is404">
    <p style="color: red">404, User not found :(</p>
  </div>
  <div *ngIf="!tasks">
    <p style="color: red">No tasks assigned here</p>
  </div>
  <table class="table" *ngIf="queryUser && tasks">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <th scope="row">{{task.title}}</th>
        <td>{{task.createdBy}}</td>
        <td>{{task.assignedToName}}</td>
        <td>{{task.deadline | date: "dd/MM/yy hh:mm a"}}</td>
      </tr>
    </tbody>
  </table>
</div>