<div class="border border-light p-5">
  <a class="btn btn-info btn-block my-4" href="create/">Create Task</a>
  <a class="btn btn-info btn-block my-4" href="notifications/">View Notifications</a>

  <p class="h4 mb-4 text-center">View Tasks</p>

  <select [(ngModel)]="queryUser" (ngModelChange)="getTasks()" class="browser-default custom-select mb-4" id="select"
    def>
    <!-- The value field inthe below option is very important as it decides the URL to get ALL tasks! -->
    <option value=":all" selected="selected">all</option>
    <option value="{{user.username}}" *ngFor="let user of users">{{user.username}}</option>
  </select>
  <div *ngIf="is404">
    <p style="color: red">404, User not found :( I mean, who even asked you to edit the fields</p>
  </div>
  <div *ngIf="!tasks"><p style="color: red">No tasks assigned here</p></div>
  <table class="table" *ngIf="queryUser && tasks">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <th scope="row">{{task.title}}</th>
        <td>{{task.createdBy}}</td>
        <td>{{task.assignedToName}}</td>
        <td>{{task.deadline | date: "dd/MM/yy hh:mm a"}}</td>
      </tr>
    </tbody>
  </table>
</div>